.place__website {
	max-width: 456px;
	list-style-type: none;
	padding: 0;
	align-self: flex-end;
}
@media screen and (max-width: 1023px) {
	.place__website {
		max-width: 352px;
	}
}
@media screen and (max-width: 767px) {
	.place__website {
		max-width: 288px;
	}
}
